
<dx-data-grid
  id="gridContainer"
  [dataSource]="users"
  keyExpr="ID"
  [showBorders]="true"
>
  <dxi-column dataField="picture.thumbnail" [width]="70" caption="Photo"></dxi-column>
  <dxi-column dataField="name.first" caption="Name"></dxi-column>
  <dxi-column dataField="gender" [width]="125"caption="Gender"></dxi-column>
  <dxi-column dataField="phone" dataType="date"caption="Phone"></dxi-column>
  <dxo-master-detail [enabled]="true" template="detail"caption="Photo"></dxo-master-detail>
  <div *dxTemplate="let employee of 'detail'">
    <div class="master-detail-caption">{{
      employee.data.FirstName + " " + employee.data.LastName + " details"
    }}</div>
    <!-- <detail-grid [key]="employee.key"></detail-grid> -->
  </div>
</dx-data-grid>